<!DOCTYPE html>
<!--Das wird die basic About Us-Seite

    Unterpunkte:

    About Us 

    Our Story

    Customer Service 

    Impressum | Terms of Service
-->
<html>
    <head>

    </head>
    <body>
        <header>
            <nav></nav>
        </header>
        <article>
            <section>
                <h3>ABOUT US</h3>
                <p>we're a group of students trying to create a almost fully functonal but still fake shop</p>
            </section>
            <aside>
                <img src="/public/Blue_Apple.jpg">
            </aside>
        </article>

        <footer>
            <a>About Us</a>
            <br>
            <a>Terms of Service</a>
            <br>
            <p>Spring 2021</p>
        </footer>
    </body>
</html>