<!DOCTYPE html>
<!--Das wird die basic About Us-Seite

    Unterpunkte:

    About Us 

    Our Story

    About Apples

    Customer Service 

    Impressum | Terms of Service
-->
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        
        <link rel="stylesheet" type="text/css" href="stylesheet.css">
        <title>About Applezone</title>
    </head>

    <body>
        <header> 
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
        
                    <div class="navbar-header">
                       
                        <div  class="collapse navbar-collapse" id="myNavbar"> <!--die div hier ist für das "collapse", also denn Button beim Verkleinern-->
                        <ul class="nav navbar-nav">
        
                                <li class="nav-item"><a class="nav-link" href="/shop">Home</a></li> <!--It works if I only have the link <a> with class "dropdown-item"-->
        
                                 <li class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Our Apples <span class="caret"></span></a>
                                       
                                        <!--Hier muss Luis wieder zaubern? Weil er die ejs-Dinge nicht mag; hab die erstmal auskommentiert mit /* */ D.-->
                                      <div class="dropdown-menu">
                                        <% /* for(product of produkte){ %>
                                          <% if(product.versteckt == true){ continue;}%> <!--Versteckte überspringen-->
                                              <% if(nutzername != "Guest"){ %>
                                                  <a class="dropdown-item nav2" href="/detail/<%=product.id%>"><%=product.name%></a> <hr>
                                              <% }%>
                                              <% if(nutzername == "Guest"){ %>
                                                  <p>Want more details?<a id="logIN" href="/login"> Log in!</a></p>
                                                  <%break%>
                                              <% }%>
                                      <% } %>
                                      </div>
                                 </li> 
                                
                                <li class="nav-item dropdown">
                                    <a  class="nav-link dropdown-toggle"  data-toggle="dropdown" href="">About <span class="caret"></span></a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item nav2" href="/about">About Us</a> <hr>
                                        <a class="dropdown-item nav2" href="/about#story">Our Story</a> <hr>
                                        <a class="dropdown-item nav2" href="/about#apples">About Apples</a> <hr>
                                        <a class="dropdown-item nav2" href="/about#terms">Terms Of Service</a> 
                                    </div>
                                </li> 
                                
                                <li class="nav-item"><a  class="nav-link" href="/about#cs">Customer Service</a></li> 
                                
                                <!-- Die Rolle mag er glaube ich auch nicht-->
                                  <% if(rolle == 1){ %>
                                      <li class="nav-item"><a  class="nav-link" href="/produktliste">Update an Apple</a></li> <!--Admins only! -->
                                      <li class="nav-item"><a  class="nav-link" href="/create">Create an Apple</a></li> <!--Admins only! -->
                                  <% } */ %>
                        </ul>
                        </div>
                    </div>
                  
                    <ul class="nav navbar-nav navbar-right  ml-auto">
                        
                        <li style="float:right"><a href="/cart"><img class="korbdesign" src="../public/korb.png" alt="Warenkorb" width="20" height="20" style="border-radius: 5%;"></a></li>
                        <!--Hier Logout | Nutzername ODER Login | Register -->    
                        <% if(nutzername != "Guest"){ %>
                        <li style="float:right"><a  href="/Logout">Logout | <%=nutzername%><br></a></li>
                        <% }%>
                        <% if(nutzername == "Guest"){ %>
                        <li style="float:right"><a  href="/home">Login | Register<br></a></li>
                        <% }%>
                        <!-- <li style="float: right"> <a  id="logReg" href="/Login">Login</a> | <a id="logReg" href="/Register">Register</a><br></li> -->
                        
                        <button type="button" class="navbar-toggle navbar-toggler" data-toggle="collapse" data-target="#myNavbar" style="float:left; width: 55px; height: 35px; background-color: gray; margin-left: 15px; padding:5px;">
                            Menu
                        </button>
                    </ul>
                    
                </div>
            </nav>
        </header>
      
          
          <!--oberer Abstand-->
        <container class="container">
            <section id="section1">
                <span id="obererAbstand"> <br> <br> <br> </span> <!--den oberen Abstand (damit die Nav nichts bedeckt kann man später in Css machen)-->
            </section>
        </container>


        <article>
            <section id="about">
                <h3>ABOUT US</h3>
                <p>we're a group of students trying to create a almost fully functonal but still fake shop</p>
            </section>
            <section id="story">
                <h3>OUR STORY</h3>
                <p>we have a passion for web design and fruit, especially for apples</p>
            </section>
            <section id="apples">
                <h3>ABOUT APPLES</h3>
                <p>apples are the absolutely most versatile fruit. they are just the bestest. they can be red, yellow, green, and even blue, when they have been manufactured by us. you can make apple pie, or apple juice, or apple stuffing, and that is just the icing on top. apples are love. gimme them apples any time, any day. an apple a day keeps the doctor away. </p>
            </section>
            <aside>
                <img width="500px" src="/public/Blue_Apple.jpg">
            </aside>
            <section id="cs">
                <h3>Customer Service</h3>
                <p>we here at Applezone want you to feel heard. we care deeply about what you have to say. <br>
                   if you have questions, requests or complaints, please leave a comment below.</p>
                <form action="/onComment" method="POST"> <!--Das /oncomment existiert noch nicht-->
                    <textarea rows="7" cols="49">please use this box</textarea> 
                    <input type="submit" value="Submit">
                </form>
            </section>
            <section id="terms">
                <h3>TERMS OF SERVICE</h3>
                <p>names and adresses of the people responsible for this mess</p>
            </section>
        </article>

        <footer>
            <div class="bottom-footer">
                <div class="col-md-12"> 
                    <ul class="footer-nav">
                        <a href="/about">About Us</a><br>
                        
                        <a href="/about#terms"> Terms of Service</a> <br>
                    
                        <p>Spring 2021</p> <br>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>