<!DOCTYPE html>
<!--Das wird die basic About Us-Seite

    Unterpunkte:

    About Us 

    Our Story

    About Apples

    Customer Service 

    Impressum | Terms of Service
-->
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="stylesheet.css">
        <title>About Applezone</title>
    </head>
    <body>
         <!-- Header mit allen Inhalten muss überarbeitet werden mit neuem Design und Layout-->
        <header>
            <nav>
                <ul class="stick header-top">
                
                    <li><a class="header-inhalt" href="/shop">Home</a></li>
                <!-- Bedenke: die beiden "produktliste" und "create" müssen hier gelöscht werden, 
                weil sie nur von Admins/ Uns zugänglich sein sollen-->
                    <li><a class="header-inhalt" href="/produktliste">Our Products</a></li>
                    <li><a class="header-inhalt" href="/create">Create A Product</a></li>
                    <li><a class="header-inhalt" href="">Vier</a></li>
                    <li><a class="header-inhalt" href="">Fünf</a></li>
                    <li><a class="header-inhalt" href="">Sechs</a></li>
                    <li style="float:right"><a href="/cart"><img class="korbdesign" src="../public/korb.png" alt="Warenkorb" width="26" height="26"></a></li>
                <!--Hier Logout | Nutzername ODER Login | Register -->    
                    <li style="float:right"><a class="header-inhalt" href="/Logout">Logout | <%= nutzername %><br></a></li>
                    <li style="float:right"><a class="header-inhalt active" href="/about">About Us</a></li>
                
                </ul>
            </nav>
        </header>
          
          <!--oberer Abstand-->
        <container class="container">
            <section id="section1">
                <span id="obererAbstand"> <br> <br> <br> </span> <!--den oberen Abstand (damit die Nav nichts bedeckt kann man später in Css machen)-->
            </section>
        </container>


        <article>
            <section>
                <h3>ABOUT US</h3>
                <p>we're a group of students trying to create a almost fully functonal but still fake shop</p>
            </section>
            <section>
                <h3>OUR STORY</h3>
                <p>we have a passion for web design and fruit, especially for apples</p>
            </section>
            <section>
                <h3>ABOUT APPLES</h3>
                <p>apples are the absolutely most versatile fruit. they are just the bestest. they can be red, yellow, green, and even blue, when they have been manufactured by us. you can make apple pie, or apple juice, or apple stuffing, and that is just the icing on top. apples are love. gimme them apples any time, any day. an apple a day keeps the doctor away. </p>
            </section>
            <aside>
                <img width="500px" src="/public/Blue_Apple.jpg">
            </aside>
            <section>
                <h3>Customer Service</h3>
                <p>we here at Applezone want you to feel heard. we care deeply about what you have to say. <br>
                   if you have questions, requests or complaints, please leave a comment below.</p>
                <form action="/onComment" method="POST"> <!--Das /oncomment existiert noch nicht-->
                    <textarea rows="7" cols="49">please use this box</textarea> 
                    <input type="submit" value="Submit">
                </form>
            </section>
            <section>
                <h3>TERMS OF SERVICE</h3>
                <p>names and adresses of the people responsible for this mess</p>
            </section>
        </article>

        <footer>
            <a href="/about">About Us</a>
            <br>
            <a href="/about">Terms of Service</a>
            <br>
            <p>Spring 2021</p>
        </footer>
    </body>
</html>