<!DOCTYPE html>
<!--Das wird die basic About Us-Seite

    Unterpunkte:

    About Us 

    Our Story

    Customer Service 

    Impressum | Terms of Service
-->
<html>
    <head>

    </head>
    <body>
        <header>
            <nav></nav>
        </header>
        <article>
            <section>
                <h3>ABOUT US</h3>
                <p>we're a group of students trying to create a almost fully functonal but still fake shop</p>
            </section>
            <section>
                <h3>OUR STORY</h3>
                <p>we have a passion for web design and fruit, especially for apples</p>
            </section>
            <aside>
                <img width="500px" src="/public/Blue_Apple.jpg">
            </aside>
            <section>
                <h3>Customer Service</h3>
                <p>we here at Applezone want you to feel heard. we care deeply about what you have to say. <br>
                   if you have questions, requests or complaints, please leave a comment below.</p>
                <form action="/onComment" method="POST"> <!--Das /oncomment existiert noch nicht-->
                    <textarea rows="7" cols="49">please use this box</textarea> 
                    <input type="submit" value="Submit">
                </form>
            </section>
            <section>
                <h3>TERMS OF SERVICE</h3>
                <p>names and adresses of the people responsible for this mess</p>
            </section>
        </article>

        <footer>
            <a href="/about">About Us</a>
            <br>
            <a>Terms of Service</a>
            <br>
            <p>Spring 2021</p>
        </footer>
    </body>
</html>