<!Doctype html>
<!--Hier kann ein Admin (im Moment noch jeder) ein Produkt erstellen und in die Datenbank hinzufügen.-->
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <title>Produkt hinzufügen</title>
  </head>
  <body>

    <header>
      <nav>
          <ul class="stick header-top"> <!-- Header mit allen Inhalten muss überarbeitet werden mit neuem Design und Layout-->
          
              <li><a class="header-inhalt" href="/shop">Home</a></li>
          <!-- Bedenke: die beiden "produktliste" und "create" müssen hier gelöscht werden, 
          weil sie nur von Admins/ Uns zugänglich sein sollen-->
              <li><a class="header-inhalt" href="/produktliste">Our Products</a></li>
              <li><a class="header-inhalt active" href="/create">Create A Product</a></li>
              <li><a class="header-inhalt" href="">Vier</a></li>
              <li><a class="header-inhalt" href="">Fünf</a></li>
              <li><a class="header-inhalt" href="">Sechs</a></li>
              <li style="float:right"><a href="/warenkorb"><img class="korbdesign" src="../public/korb.png" alt="Warenkorb" width="26" height="26"></a></li>
          <!--Hier Logout | Nutzername ODER Login | Register -->    
              <li style="float:right"><a class="header-inhalt" href="/Logout">Logout | nutzername<br></a></li>
              <li style="float:right"><a class="header-inhalt" href="/about">About Us</a></li>
          
          </ul>
      </nav>
    </header> <!-- Header mit allen Inhalten muss überarbeitet werden mit neuem Design und Layout-->
    
    <!--oberer Abstand-->
    <container class="container">
      <section id="section1">
          <span id="obererAbstand"> <br> <br> <br> </span> <!--den oberen Abstand (damit die Nav nichts bedeckt kann man später in Css machen)-->
      </section>
    </container> 

    <form action="/oncreate" method="POST">
        Name des Produktes: <br>
        <input type="text" name="produktname" required><br>
        Preis des Produktes: <br>
        <input type="number" step="0.01" name="produktpreis" required><br>
        Anzahl des Produktes: <br>
        <input type="number" min="0" name="anzahl" required><br>
        Knackigkeit des Produktes: <br>
        <input type="number" min="0" max="100" name="knackig" required><br>
        Farbe des Produktes: <br>
        <input type="text" min="0" name="farbe" required><br>
        Gewicht des Produktes: <br>
        <input type="number" min="0" step="0.01" name="gewicht" required><br>
        Saftigkeit des Produktes: <br>
        <input type="number" min="0" max="100" name="saft" required><br>
        <br>
        <input type="checkbox" id="versteckt" name="versteckt" value="1"> 
        <label for="versteckt">Versteckten?</label>
        <br><br>
        <button type="submit">Produkt hinzufügen</button>
    </form>
  </body>
</html>