<!Doctype html>
<!--Hier kann ein Admin (im Moment noch jeder) ein Produkt erstellen und in die Datenbank hinzufügen.-->
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <title>Produkt hinzufügen</title>
  </head>
  <body>

    <header>
      <nav>
          <ul class="stick header-top"> <!-- Header mit allen Inhalten muss überarbeitet werden mit neuem Design und Layout-->
          
              <li><a class="header-inhalt" href="/shop">Home</a></li>
          <!-- Bedenke: die beiden "produktliste" und "create" müssen hier gelöscht werden, 
          weil sie nur von Admins/ Uns zugänglich sein sollen-->
              <li><a class="header-inhalt" href="/produktliste">Our Products</a></li>
              <li><a class="header-inhalt active" href="/create">Create A Product</a></li>
              <li><a class="header-inhalt" href="">Vier</a></li>
              <li><a class="header-inhalt" href="">Fünf</a></li>
              <li><a class="header-inhalt" href="">Sechs</a></li>
              <li style="float:right"><a href="/cart"><img class="korbdesign" src="../public/korb.png" alt="Warenkorb" width="26" height="26"></a></li>
          <!--Hier Logout | Nutzername ODER Login | Register -->    
              <li style="float:right"><a class="header-inhalt" href="/Logout">Logout | <%= nutzername %><br></a></li>
              <li style="float:right"><a class="header-inhalt" href="/about">About Us</a></li>
          
          </ul>
      </nav>
    </header> <!-- Header mit allen Inhalten muss überarbeitet werden mit neuem Design und Layout-->
    
    <!--oberer Abstand-->
    <container class="container">
      <section id="section1">
          <span id="obererAbstand"> <br> <br> <br> </span> <!--den oberen Abstand (damit die Nav nichts bedeckt kann man später in Css machen)-->
      </section>
    </container> 

    <form action="/oncreate" method="POST" enctype="multipart/form-data"> <!--form braucht bei allen Einträgen labels-->
        <input type="hidden" name="MAX_FILE_SIZE" value="8388608" />  <!--Uploadlimit-->

        Name des Produktes: <br>
        <input type="text" name="produktname" required><br>
        Preis des Produktes: <br>
        <input type="number" step="0.01" name="produktpreis" required><br>
        Anzahl des Produktes: <br>
        <input type="number" min="0" name="anzahl" required><br>
        Knackigkeit des Produktes: <br>
        <input type="number" min="0" max="100" name="knackig" required><br>
        Farbe des Produktes: <br>
        <input type="text" min="0" name="farbe" required><br>
        Gewicht des Produktes: <br>
        <input type="number" min="0" step="0.01" name="gewicht" required><br>
        Saftigkeit des Produktes: <br>
        <input type="number" min="0" max="100" name="saft" required><br>
        <label for="bild">Bild hinzufügen (max. 8mb):</label><br>
        <input type="file" accept="image/jpeg, image/jpg, image/png" name="bild" id="bild"><br>
        <!-- --test--<br>
        Bild hinzufügen(Drag&Drop):
        <div class="drop-zone">                                                     Das hier ist der Drag&Drop code(in server.js findet ihr den Code bei der /post von /oncreate)
          <span class="drop-zone__prompt">Drop file here or click to upload</span>  funktioniert noch nicht aber sieht schon cool aus :D
          <input type="" name="bild2" class="drop-zone--input">

        </div>                                                                      
        --test--<br>                                                                bis hier-->

        <br>
        <input type="checkbox" id="versteckt" name="versteckt" value="1"> 
        <label for="versteckt">Versteckten?</label>
        <br><br>
        <button type="submit">Produkt hinzufügen</button>
    </form>
  </body>
</html>