<!DOCTYPE html>
<!--Das wird die basic Detailansicht-Seite-->
<html>
    <head>
        
        <title>Apple X</title>
    </head>
    <body>
        <header>
            <nav></nav>
        </header>

        <container>
        <article>
            <section>
                <img width="45%" src="/public/Blue_Apple.jpg">
            </section>
            <section>
                <h3>Appple X</h3>
                <p>the best Apple of all the Apples</p>
            </section>
            <aside></aside>
        </article>
        </container>

        <footer>
            <a href="/about">About Us</a>
            <br>
            <a href="/about">Terms of Service</a>
            <br>
            <p>Spring 2021</p>
        </footer>
    </body>
</html>