<!Doctype html>
<!--Das ist unsere Visitenkarte, die erste Seite, die jeder Kunde sieht. 
Von hier aus kann man sich registrieren, einloggen, oder als Gast fortfahren-->

<html lang="de">
  <head>
    <base href="/" />

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- Das neueste kompilierte und minimierte CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <title>Applezone</title>
  </head>
  <body>
          
<header> 
  <!--Weiß nicht ob die Navbar hier Sinn macht? Die einzigen Punkte wären Login | Refister und Die About Leiste und Die Gast-Home Seite und Die Terms of Service und Customer Service... D.--> 
</header>


    <div id="homeContainer" class="col-sm-12 col-md-12 col-lg-12" style="background-color: blanchedalmond;">
      <div class="row row-no-gutters">
        <img  id="introPicture" src="/public/IntroPic.jpg" alt="Applezone Promo Picture" style="max-height: 100vh;">
      </div>
      
      <div id="fixedBox" class="col-lg-12 col-sm-12"> <!--Die könnte man hier in diesen Block zussammenfassen, und den dann nur "fixed" machen-->
        <div class="topText"><h1 style="font-size: 48px; margin-top: 10px; text-align: center;">Welcome to Applezone!</h1>
            <p>We here at Applezone have the tastiest and<br> most unique apples. 
            <br>Join us on our mission to applefy the world -- today!
            </p>
        </div>
    
        <p id="homeButtons" class="btn-group-lg">
            <a href="/login"><input type="button" value="Log in" class="btn btn-success btn-lg"></a>
            <a href="/register"><input type="button" value="Register here" class="btn btn-success btn-lg"></a>
            <a href="/shop"><input type="button" value="Continue as Guest" class="btn btn-success btn-lg"></a> 
            <br>
            <%= nachricht %>
        </p>
      </div>
    </div>
 

      
      <footer class="col-sm-12 col-md-12 col-lg-12 fixed-bottom" style="z-index: -1;">
        <div class="bottom-footer">
                <ul class="footer-nav">
                    <a href="/about">About Us</a><br>
                    
                    <a href="/about#terms"> Terms of Service</a> <br>
                
                    <p>Spring 2021</p> <br>
                </ul>
        </div>
    </footer>
  </body>
</html>