<!Doctype html>
<!--Das ist unsere Visitenkarte, die erste Seite, die jeder Kunde sieht. 
Von hier aus kann man sich registrieren, einloggen, oder als Gast fortfahren-->
<html lang="de">
  <head>
    <base href="/" />
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <title>Applezone</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default navbar-fixed-top"> 
      <!--Das ist unsere Navigationssleite, die Oben (beim Scrollen) gefixt bleiben sollte (?), 
      Die befehle dahinter sind für bootstrap zu nutzen-->

      </nav>

    </header>
      <h2>Willkommen bei Applezone!</h2>
      <p>
          <img src="../public/Blue_Apple.jpg" alt="blueapple"> <!--Datei-Pfad muss vielliecht später geändert werden.-->
      </p>
      <p>
          <br>
          <a href="/login"><input type="button" value="Zur Anmeldung"></a>
          <a href="/register"><input type="button" value="Registrieren"></a>
          <a href="/guest"><input type="button" value="Weiter als Gast"></a> 
          <%= nachricht %>
      </p>
      <footer>
        <a>About Us</a>
        <br>
        <a>Terms of Service</a>
        <br>
        <p>Spring 2021</p>
    </footer>
  </body>
</html>