<!Doctype html>
<html lang="de">
  <head>
    <base href="/" />
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <title>Willkommen</title>
  </head>
  <body>
      <h2>Willkommen!</h2>
      <p>
          <img src="../public/Blue_Apple.jpg" alt="blueapple"> <!--Datei-Pfad muss vielliecht später geändert werden.-->
      </p>
      <p>
          <br>
          <a href="/login"><input type="button" value="Zur Anmeldung"></a>
          <a href="/register"><input type="button" value="Registrieren"></a>
          <a href="/shop"><input type="button" value="Weiter als Gast"></a> 
          <%= nachricht %>
      </p>
  </body>
</html>