<!Doctype html>
<html lang="de">

  <head>
    <meta charset="UTF-8">
   <!-- <link rel="stylesheet" type="text/css" href="stylesheet.css"> -->

   <!-- Hier versuche ich es Mal mit
    Bootstrap: -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- Das neueste kompilierte und minimierte CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

   <!-- Optionales Theme -->
   <!--
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
   -->
   
    <title>Applezone Shop</title>
  </head>

  <body>
      
<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-header">
                <!--Das ist der Teil des Buttons, der collapsed wird-->
                <button type="button" class="navbar-toggle, navbar-brand" data-toggle="collapse" data-target="#myNavbar" style="margin: 5px; width: 65px; height: 40px; color:grey">
                </button>
              

                <ul class="nav navbar-nav collapse navbar-collapse" id="myNavbar">
                    <!--Das sind die Sachen, die collapsed sind :) -->
                    <li class="nav-item"><a href="/shop"><strong>Home</strong></a></li>
                    <!-- Bedenke: die beiden "produktliste" und "create" müssen hier gelöscht werden, 
                    weil sie nur von Admins/ Uns zugänglich sein sollen-->
                    <li class="nav-item dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href=""><strong>Our Apples <span class="caret"></span></strong></a></li>
                    <!--Hiier eine Liste mit allen einzelnen Detailseiten, collapsed-->
                        <ul class="dropdown-menu">
                            <li><a href="/detail/1">First Apple</a></li>
                            <li><a href="/detail/2">Second Apple</a></li>
                            <li><a href="/detail/2">Third Apple</a></li>
                        </ul>
                    
                    <li class="nav-item"><a href="/cart"><strong>Shopping Cart</strong></a></li>
                    <li class="nav-item"><a href="/about">About Us</a></li>
                    <!--Hiier eine Liste mit allen einzelnen Paragraphen auf der About Us Seite, collapsed-->
                    <li class="nav-item"><a href="/about#cs">Customer Service</a></li> <!--Scroll to Customer Service Automatically-->
                    
                    <li class="nav-item"><a href="/produktliste">Update an Apple</a></li> <!--Admins only! -->
                    <li class="nav-item"><a href="/create">Create an Apple</a></li> <!--Admins only! -->
                </ul>
            </div>
          
            <ul class="nav navbar-nav navbar-right">
                <li style="float:right"><a href="/cart"><img class="korbdesign" src="../public/korb.png" alt="Warenkorb" width="20" height="20" style="border-radius: 5%;"></a></li>
                <!--Hier Logout | Nutzername ODER Login | Register -->    
                <li style="float:right"><a  href="/Logout">Logout | <%=nutzername%><br></a></li>
            </ul>
        </div>
  </nav>
</header>
    
<container class="container">
    <section id="section1">
            <span id="obererAbstand"> <br> <br> <br> </span> <!--den oberen Abstand (damit die Nav nichts bedeckt kann man später in Css machen)-->
            <h3>Welcome to Applezone!</h3>
            <p>From Juicy to Crunchy - here you can find the Apple <span><em>you</em></span> deserve!</p>
            <br>
            <!-- -->
    </section>
</container>  

    <section id="section2"> <!--hier könnte man eine Searchbar einbauen, um nach bestimmten Produkten zu suchen oder so--> 
    </section>
    
<container class="container">
    <section id="section3"> <!--Das wird die Main Section mit den Produkten-->
        
        <div class="thumbnail">
            <img src="/public/Blue_Apple.jpg" class="card-image-top" style=" width: 20%;" alt="blue apple"> <!--hier hab ich vorerst den style so geändert, muss später anders werden-->
            <div class="caption">
                <h4>Blue Apple</h4>
                <p>This unsusual Apple will change your life.</p>
                <p>Price: <!--here probably add an ejs thing from the database--></p>
                <p><a href="#" class="btn btn-primary" role="button">Love</a> <a href="#" class="btn btn-danger" role="button">Hate</a></p>
            </div>
        </div>

        <div class="thumbnail">
            <img src="/public/Blue_Apple.jpg" class="card-image-top" style=" width: 20%;" alt="blue apple"> <!--hier hab ich vorerst den style so geändert, muss später anders werden-->
            <div class="caption">
                <h4>Blue Apple</h4>
                <p>This unsusual Apple will change your life.</p>
                <p>Price: <!--here probably add an ejs thing from the database--></p>
                <p><a href="#" class="btn btn-primary" role="button">view details</a> <a href="#" class="btn btn-success" role="button">put in cart</a></p>
            </div>
        </div>
    </section>
</container>

<footer>
    <a href="/about">About Us</a>
    <br>
    <a href="/about"> Terms of Service</a> <!--Hier wird man noch das scrollen zu der richtigen section hinzufügen müssen-->
    <br>
    <p>Spring 2021</p>
</footer>
</body>
</html>