<!Doctype html>
<html lang="de">

  <head>
    <meta charset="UTF-8">
   <!-- <link rel="stylesheet" type="text/css" href="stylesheet.css"> -->

   <!-- Hier versuche ich es Mal mit
    Bootstrap: -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- Das neueste kompilierte und minimierte CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

   <!-- Optionales Theme -->
   <!--
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
   -->
   
    <title>Applezone Shop</title>
  </head>

  <body>
      
<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-header">
                <!-- Das hier soll der Button sein, mit dem Man Dinge Öffnen kann kann; kriege ihn nicht funktionsfähig. -->
                <button type="button" class="btn navbar-brand" data-target="#demo" data-toggle="collapse" style="margin: 5px; width: 65px; height: 40px; background-color:gray"> </button>
                
                <ul class="nav navbar-nav nav-pills">
                    <!--Das sind die Sachen, die im Dropdown sein sollen... -->

                    <!--
                    <li class="dropdown nav-item"><a  class="dropdown-toggle nav-link" data-toggle="dropdown" id="navID"><strong>BUTTON</strong></a>  Das müsste jetzt der erste Dropdown-Link sein?
                    <div class="dropdown-menu"> 
                    -->

                        <li class="nav-item"><a class="nav-link" href="/shop"><strong>Home</strong></a></li> <!--It works if I only have the link <a> with class "dropdown-item"-->

                           
                         <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown"><strong>Our Apples <span class="caret"></span></strong></a>
                               
                                <!--Hier eine Liste mit allen einzelnen Detailseiten, dropdown; Ich weiß nicht warum das nicht funktionieren will :(-->
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/detail/1">First Apple</a>
                                    <a class="dropdown-item" href="/detail/2">Second Apple</a>
                                    <a class="dropdown-item" href="/detail/2">Third Apple</a>
                               </div>
                         </li> <!--Das li umarmt nur diesen Äpfel-Teil-->
                        

                        <li class="nav-item"><a  class="nav-link" href="/cart"><strong>Shopping Cart</strong></a></li> <!--Kann auch gelöscht werden wegen Warenkorb Icon, aber nicht alle checken das.-->
                        <li class="nav-item"><a  class="nav-link" href="/about">About Us</a></li>
                        <!--Hiier eine Liste mit allen einzelnen Paragraphen auf der About Us Seite, collapsed-->
                        <li class="nav-item"><a  class="nav-link" href="/about#cs">Customer Service</a></li> <!--Scroll to Customer Service Automatically-->
                        
                        <!-- Bedenke: die beiden "produktliste" und "create" müssen hier gelöscht werden, 
                        weil sie nur von Admins/ Uns zugänglich sein sollen-->
                        <li class="nav-item"><a  class="nav-link" href="/produktliste">Update an Apple</a></li> <!--Admins only! -->
                        <li class="nav-item"><a  class="nav-link" href="/create">Create an Apple</a></li> <!--Admins only! -->
                    
                    <!-- 
                    </div>
                    </li> Die Dropdown-Überschrift "Home" "umarmt" alles-->
                
                </ul>

            </div>
          
            <ul class="nav navbar-nav navbar-right">
                <li style="float:right"><a href="/cart"><img class="korbdesign" src="../public/korb.png" alt="Warenkorb" width="20" height="20" style="border-radius: 5%;"></a></li>
                <!--Hier Logout | Nutzername ODER Login | Register -->    
                <li style="float:right"><a  href="/Logout">Logout | <%=nutzername%><br></a></li>
            </ul>
        </div>
  </nav>
</header>


    
<container class="container">
    <section id="section1">
            <span id="obererAbstand"> <br> <br> <br> </span> <!--den oberen Abstand (damit die Nav nichts bedeckt kann man später in Css machen)-->
            <h3>Welcome to Applezone!</h3>
            <p>From Juicy to Crunchy - here you can find the Apple <span><em>you</em></span> deserve!</p>
            <br>
            <!-- -->
    </section>
</container>  

    <section id="section2"> <!--hier könnte man eine Searchbar einbauen, um nach bestimmten Produkten zu suchen oder so--> 
    
        <button type="button" data-target="#demo" data-toggle="collapse">Collapse Button</button>
                <div class="collapse" id="demo">
                Collapsible content <br>
                More content <br>
                Loads of content <br>
                </div>

                <!--Okay this just full-on doesn't work? Seems to not have to do with any formatting either. I fucking hate it. -->
    </section>
    
<container class="container">
    <section id="section3"> <!--Das wird die Main Section mit den Produkten-->
        
        <div class="thumbnail">
            <img src="/public/Blue_Apple.jpg" class="card-image-top" style=" width: 20%;" alt="blue apple"> <!--hier hab ich vorerst den style so geändert, muss später anders werden-->
            <div class="caption">
                <h4>Blue Apple</h4>
                <p>This unsusual Apple will change your life.</p>
                <p>Price: <!--here probably add an ejs thing from the database--></p>
                <p><a href="#" class="btn btn-primary" role="button">Love</a> <a href="#" class="btn btn-danger" role="button">Hate</a></p>
            </div>
        </div>

        <div class="thumbnail">
            <img src="/public/Blue_Apple.jpg" class="card-image-top" style=" width: 20%;" alt="blue apple"> <!--hier hab ich vorerst den style so geändert, muss später anders werden-->
            <div class="caption">
                <h4>Blue Apple</h4>
                <p>This unsusual Apple will change your life.</p>
                <p>Price: <!--here probably add an ejs thing from the database--></p>
                <p><a href="#" class="btn btn-primary" role="button">view details</a> <a href="#" class="btn btn-success" role="button">put in cart</a></p>
            </div>
        </div>
    </section>
</container>

<footer>
    <a href="/about">About Us</a>
    <br>
    <a href="/about"> Terms of Service</a> <!--Hier wird man noch das scrollen zu der richtigen section hinzufügen müssen-->
    <br>
    <p>Spring 2021</p>
</footer>
</body>
</html>