<!Doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <title>Login</title>
  </head>
  <body>
    <container>
      <h2>Bitte loggen Sie sich ein:</h2>
      <form action="/login_eingabe" method="POST"> 
        <p>
          Nutzername / Email: <input type="text" name="nutzername" required>
          <br>
          Passwort: <input type="password" name="passwort" required>
        </p>
        <input type="submit" value="Anmelden">
        <br> <%=nachricht%> <br>
        <a href=/home>Zurück</a>
      </form> 
    </container>
      <footer>
        <a>About Us</a>
        <br>
        <a>Terms of Service</a>
        <br>
        <p>Spring 2021</p>
    </footer>
  </body>
</html>