<!Doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <title>Login</title>
  </head>
  <body>
    <container>
      <h2>Please log in:</h2>

      <aside>
        <p>cheesy quote here</p>
      </aside>

      <div class="dataForm"> <!-- the same as the register one-->
        <form action="/login_eingabe" method="POST"> 
          <p>
            Username or Email: <input type="text" name="nutzername" required>
            <br>
            Password: <input type="password" name="passwort" required>
          </p>
          <input type="submit" value="Log In"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstleyVEVO">forgot password?</a>
          <br> <%=nachricht%> <br>
          <a href=/home>Back</a>
        </form> 
      </div>
    </container>

      <footer>
        <a href="/about">About Us</a>
        <br>
        <a href="/about">Terms of Service</a>
        <br>
        <p>Spring 2021</p>
    </footer>
  </body>
</html>