<!Doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <title>Registrieren</title>
  </head>
  <body>
    <container>
      <h2>Bitte registireren Sie sich:</h2>
      <form action="/register_eingabe" method="POST"> 
        <p>
          Nutzername: <input type="text" name="nutzername" required minlength="4" maxlength="16">
          <br>
          Email: <input type="text" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
          <br>
          Passwort: <input type="password" name="passwort" required minlength="8" maxlength="32">
          <br>
          Passwort wiederholen: <input type="password" name="passwort_repeat" required minlength="8" maxlength="32">
        </p>
        <input type="submit" value="Registrieren">
        <br> <%=nachricht%> <br>
        <a href=/home>Zurück</a>
      </form>
    </container>

    <footer>
        <a href="/about">About Us</a>
        <br>
        <a href="/about">Terms of Service</a>
        <br>
        <p>Spring 2021</p>
    </footer>
  </body>
</html>