<!DOCTYPE html>
<!--Das wird die Gästeansicht-Seite:

eine Kopie vom Shop mit anderen Buttons, ohne personalierter Ansprache (html statt ejs),
kein Zugriff auf Detail und Warenkorb -->
<html>
    <head>

    </head>
    <body>
        <header>
            <nav></nav>
        </header>
        <article>
            <section>
                <h3>Welcome to Applezone!</h3>
                <p>as a guest, you may browse our apples and see if anything catches your interest</p>
            </section>
            <aside>
                <img src="/public/Blue_Apple.jpg">
            </aside>
        </article>

        <footer>
            <a href="/about">About Us</a>
            <br>
            <a href="/about">Terms of Service</a>
            <br>
            <p>Spring 2021</p>
        </footer>
    </body>
</html>