<!Doctype html>
<html lang="de">

  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <title>Viel Spaß</title>
  </head>

  <body>
    <nav>
    <ul class="stick header-top"> <!-- Header mit allen Inhalten muss überarbeitet werden mit neuem Design und Layout-->
     
      <li><a class="header-inhalt active" href="/shop">Home</a></li>
      <li><a class="header-inhalt" href="/produktliste">Produktliste</a></li>
      <li><a class="header-inhalt" href="/create">Create</a></li>
      <li><a class="header-inhalt" href="">Vier</a></li>
      <li><a class="header-inhalt" href="">Fünf</a></li>
      <li><a class="header-inhalt" href="">Sechs</a></li>
      <li style="float:right"><a href="/warenkorb"><img class="korbdesign" src="../public/korb.png" alt="Warenkorb" width="26" height="26"></a></li>
      <li style="float:right"><a class="header-inhalt" href="/Logout">Logout | <%= nutzername %><br></a></li>
      <li style="float:right"><a class="header-inhalt" href="/ueberuns">Über uns</a></li>
  </ul>
  </nav>

  <br><br> <!-- Header mit allen Inhalten muss überarbeitet werden mit neuem Design und Layout-->
      
  <section>
          <h4>Welcome, <%= nutzername %>!</h4>
          <br>
          <%= aktion %>.<br> <!--Was ist das hier, bzw wo führt aktion hin? Daria-->
          <a href=/home>Startseite</a> <br>
          <a href="/produktliste"><input type="button" value="Produktliste"></a> <br>
  </section>

  <footer>
    <a href="/about">About Us</a>
    <br>
    <a href="/about">Terms of Service</a>
    <br>
    <p>Spring 2021</p>
  </footer>
  </body>
</html>