
/*

body {
    --padding-header: 14px 16px;
}


.header-top {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;
    background: linear-gradient(#333, #333);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.stick {
    position: fixed;
}

li {
    float: left;
}

li .header-inhalt:not(.active) {
    display: block;
    color: white;
    text-align: center;
    padding: var(--padding-header);
    text-decoration: none;
}

li .header-inhalt:hover {
    background: linear-gradient(#000, #333);
}

.active {
    display: block;
    color: #4287f5;
    text-align: center;
    padding: var(--padding-header);
    text-decoration: none;
    background: linear-gradient(#000, #333);
}

*/

/* Der Korb funktioniert in der neuen Leiste, also ist das redundant. D.

li .korbdesign:hover {
    background: linear-gradient(#5cb1f2, #0070c9);
}

.korbdesign {
    padding: 10px 10px;
    display: block;
    text-align: center;
    background: linear-gradient(#42a1ec, #0070c9);
}
*/

/* Was ist ein Drop-Zone? D. */

.drop-zone {
    max-width: 100px;
    height: 100px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    color: #cccccc;
    border: 4px dashed #009578;
    border-radius: 10px;
}

.drop-zone--over {
    border-style: solid;
}

.drop-zone--input {
    display: none;
}

.drop-zone--thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
}

.drop-zone--thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}

/*  NAVIGATIONSBAR */
.nav2 {
    text-decoration: none;
    padding: 15px;
    color: darkslategray;

}
a:hover {
    text-decoration: none;
}

.dropdown-menu{
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
    max-height: 400px;
    max-width: auto;
    white-space: nowrap;
    overflow-y: auto;
}
#apfelFarbeDrop {
    padding: 15px;
}

#logReg {
    display: inline-block;
}

/* Das hier ist der Toggle Button für das Menü wenn es klein ist */
#menuToggle {
    float:left; 
    width: 55px; 
    height: 35px; 
    background-color: gray; 
    margin-left: 20px; 
    padding:5px; 
    color: white; 
    font-variant: small-caps;
    letter-spacing: 1px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* Darias Layout Jumbotron */
.jumbotron {
    background-image:url("/public/promo4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 30vh;
    width: 100%;
    margin: 20px 0px 20px 0px;
}
#section1 {
    width: 100%;
}

.jText {
    text-align: left;
    position: relative;
    color:white;
    border-radius: 5px;
    padding-inline: 15px;
    margin: 20px 0px 20px 0px;
}

.jText h2 {
    font-size: 40px;
}
.jText p {
    font-size: 25px;
}

/* Here starts Darias experiment: MAIN SHOP CONTAINER */
.thumbnail {
    min-width: 250px;
    max-width: max-content;
    /* Die breite der einzelnen Apfel-Elemente */
    /* yo das mit der Höhe und dem Margin muss ich noch klären.*/
    border-style: hidden;
}
.thumbnail img {
    border-radius: 2.5%;
    padding-bottom: 10px;
}
.thumbnail #thumbnailInner {
    margin-bottom: 2.5px;
}

.caption {
    /* Hier könnt ihr eine font einsetzen die euch gefällt. */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: grey;
    /* Hier wird die Größe der grauen Box mit Text bestimmt */
    height: 190px;
       
}
.caption h4 {
    font-weight: bold;
    padding-inline: 10px;
}
.caption p {
    padding-inline: 10px;
}

.input-group { /* Hier geht es um die details und cart Buttons bei der Shopseite */
    min-width: 20%; /* btw I'm really proud of this D. */
    max-width: 80%;
    text-align:start;
    padding-inline: 10px;
    display:inline-flexbox;
}
form .btn { /* Das sind die Buttons selbst */
    display:inline-flex;
}

.card-image-top {
    width: 100%; /* Das Bild füllt einfach den ganzen container aus */
}

/*Funkt Nicht. :( okay warum der Link beim Gast nicht die Farbe ändern will verstehe ich nicht. D. */
#logIN a {
    color: darkslategrey;
    outline-color: whitesmoke; 
}
#logIN a:hover {
    color:whitesmoke;
}

/* FOOTER ORT */
footer {
    background-color:dimgrey;
}
.footer-nav {
    padding-left: 15px;
    padding-top: 25px;
}
.footer-nav a {
    color: black;
    text-decoration: none;
}

#uglyFooter {
    margin-top: 45vh;
}

/* Home Seite Styling D.*/
#homeContainer 
#introPicture {
    object-fit:contain;
    float: right;
}

#fixedBox {
    position: fixed;
    top: 15vh;
    left: 10vw;
    margin-right: 25px;
    max-width: 625px;
    padding-bottom: 20px;
}

.topText {
    max-width: 590px;
    padding: 15px 25px 15px 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
    color: blanchedalmond;
    background-color: rgba(105, 105, 105, 0.904);
    border-radius: 5px;
    margin-left: 5px;
}
.topText p {
    font-size: 22px;
}

#homeButtons {
    color: black;
    text-align: center;
    margin-top: 10px;
}
#homeButtons input {
    width: 185px; 
    height: 75px;
    margin: 5px;
}


/* LOGIN und REGISTER FORMS */
#formHalf {
    margin-top: 20vh;
}
#otherHalf {
    margin-top: 65px;
}

#actualFormStuff {
    background-color: rgba(160, 160, 160, 0.76);
    margin: 10px 10px 10px 10px;
    padding: 15px 15px 10px 15px;
    border-radius: 5px;
    height: 100%;
    min-width: 325px;
    
}
#appleExperience {
    font-size: 40px;
    font-weight: bold;
    color: darkslategrey;
    padding: 0px 15px 20px 15px;
}
.dataForm {
    padding: 0px 15px 15px 15px;
}
.dataForm .btn{
    color:white;
    background-color: darkslategrey;
    margin-bottom: 0px;
}
.dataForm a {
    color: darkslategray;
    margin: 0px 0px 10px 0px;
    font-size: 16px;
}

aside p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    color: darkslategray;
}

.asides {
    margin-left: 15px;
    width: 45vw;
    min-width: 500px;
}
.asides p {
    padding: 10px;
    font-size: 18px;
    margin: 5px;
}
.asides img {
    min-height: 35vh; 
    max-height: 40vh; 
    min-width: 500px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;

}

/* DETAIL SEITE */
.imgLeft img {
    justify-content: space-evenly;
    float: right;
    margin-top: 65px;
    margin-inline-end: 10px;
    border-radius: 5px;
}

div .textRight {
   border-left: solid;
   border-left-color: gray;
}
.textRight {
    margin-top: 65px;                                       
    padding-inline-start: 40px;
}
.textRight h2{
    padding-top:5px;
    font-size: 35px;
}
.textRight p {
    font-size: 18px;
    line-height: 130%;
}
.textRight #story {
    padding: 10px 10px 5px 0px;
    width: 450px;
}
.textRight #price {
    font-weight: bold;
    font-size: 22px;
    padding: 5px 0px 5px 0px;
}

.backButton {
    float: right;
    margin: auto;
    width: 50%;
    padding: 15px; 
}
.backButton #f1 {
    float: right;
    color: black;
}

#anzahlPreis {
    margin-top: 80px;
}


/* ABOUT PAGE */
#aboutPage {
    padding-top: 55px;
    background-color: lavender;
    padding-bottom:  0px;
}
#aboutPage section {
    margin: 35px;
    padding-bottom: 15px;
    text-align: center;
}
#aboutPage aside img {
    max-width: 500px;
}
#aboutPage aside {
    display: flex;
    justify-content: center;
}

/* Create und Update */

#createForm {
    margin-left: 20px;
    padding: 65px 20px 20px 20px;
}

#updateForm {
    margin-left: 20px;
    padding: 20px 20px 20px 20px; 
}

#listeForm {
    padding: 65px 0px 25px 0px;
}
#listeForm td {
    padding-inline: 10px;
    padding-block: 10px;
}
