
/*

body {
    --padding-header: 14px 16px;
}


.header-top {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;
    background: linear-gradient(#333, #333);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.stick {
    position: fixed;
}

li {
    float: left;
}

li .header-inhalt:not(.active) {
    display: block;
    color: white;
    text-align: center;
    padding: var(--padding-header);
    text-decoration: none;
}

li .header-inhalt:hover {
    background: linear-gradient(#000, #333);
}

.active {
    display: block;
    color: #4287f5;
    text-align: center;
    padding: var(--padding-header);
    text-decoration: none;
    background: linear-gradient(#000, #333);
}

*/

/* Der Korb funktioniert in der neuen Leiste, also ist das redundant. D.

li .korbdesign:hover {
    background: linear-gradient(#5cb1f2, #0070c9);
}

.korbdesign {
    padding: 10px 10px;
    display: block;
    text-align: center;
    background: linear-gradient(#42a1ec, #0070c9);
}
*/

/* Was ist ein Drop-Zone? D. */

.drop-zone {
    max-width: 100px;
    height: 100px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    color: #cccccc;
    border: 4px dashed #009578;
    border-radius: 10px;
}

.drop-zone--over {
    border-style: solid;
}

.drop-zone--input {
    display: none;
}

.drop-zone--thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
}

.drop-zone--thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}

/*  NAVIGATIONSBAR */
.nav2 {
    text-decoration: none;
    padding: 15px;
    color: darkslategray;

}
a:hover {
    text-decoration: none;
}

.dropdown-menu{
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
    max-height: 400px;
    max-width: auto;
    white-space: nowrap;
    overflow-y: auto;
}
#apfelFarbeDrop {
    padding: 15px;
}

#logReg {
    display: inline-block;
}

/* Das hier ist der Toggle Button für das Menü wenn es klein ist */
#menuToggle {
    float:left; 
    width: 55px; 
    height: 35px; 
    background-color: gray; 
    margin-left: 20px; 
    padding:5px; 
    color: white; 
    font-variant: small-caps;
    letter-spacing: 1px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* Darias Layout Jumbotron */
.jumbotron {
    background-image:url("/public/promo1 - i.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 33vh;
    width: 100%;
    margin: 30px 0px 20px 0px;
}
#section1 {
    width: 100%;
}

.jText {
    text-align: left;
    position: absolute;
    color:white;
    border-radius: 5px;
    padding-inline: 15px;
    bottom: 3vh;
    margin-top: 3vh;
}
.jText h2 {
    font-size: 5vh;
}
.jText p {
    font-size: 4vh;
}

/* Here starts Darias experiment: MAIN SHOP CONTAINER */
.thumbnail {
    min-width: 250px;
    max-width: max-content;
    /* Die breite der einzelnen Apfel-Elemente */
    /* yo das mit der Höhe und dem Margin muss ich noch klären.*/
    border-style: hidden;
}
.thumbnail img {
    border-radius: 2.5%;
    padding-bottom: 10px;
}
.thumbnail #thumbnailInner {
    margin-bottom: 2.5px;
}

.caption {
    /* Hier könnt ihr eine font einsetzen die euch gefällt. */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: grey;
    /* Hier wird die Größe der grauen Box mit Text bestimmt */
    height: 190px;
       
}
.caption h4 {
    font-weight: bold;
    padding-inline: 10px;
}
.caption p {
    padding-inline: 10px;
}

.input-group { /* Hier geht es um die details und cart Buttons bei der Shopseite */
    min-width: 20%; /* btw I'm really proud of this D. */
    max-width: 80%;
    text-align:start;
    padding-inline: 10px;
    display:inline-flexbox;
}
form .btn { /* Das sind die Buttons selbst */
    display:inline-flex;
}

.card-image-top {
    width: 100%; /* Das Bild füllt einfach den ganzen container aus */
}

/* FOOTER ORT */
body {
    margin:0;
    padding:0;
    height:100%;
}
.body {
    padding:10px;
    padding-bottom: 60px; /* Height of the footer */
}

#footerContainer {
    height:100%;
    min-height:100%;
    position:relative;
}
footer {
    position:absolute;
    bottom:0;
    width:100%;
  /* Height of the footer */
    background-color:dimgrey;
}
.footer-nav {
    padding-left: 15px;
    padding-top: 25px;
}
.footer-nav a {
    color: black;
    text-decoration: none;
}

#uglyFooter {
    margin-top: 20vh;
}

/* Home Seite Styling D.*/
#homeContainer 
#introPicture {
    object-fit:contain;
    float: right;
}

#fixedBox {
    position: fixed;
    top: 15vh;
    left: 12.5vw;
    margin-right: 12.5vw;
    max-width: 625px;
    padding-bottom: 20px;
}

.topText {
    padding: 15px 35px 15px 35px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blanchedalmond;
    background-color: rgba(105, 105, 105, 0.904);
    border-radius: 5px;
    text-align: center;
}
.topText p {
    padding-top: 5px;
    font-size: 24px;
}

#homeButtons {
    color: black;
    text-align: center;
    margin-top: 10px;
}
#homeButtons input {
    width: 185px; 
    height: 75px;
    margin: 5px;
}


/* LOGIN und REGISTER FORMS */
#register {
    margin-top: 10px;  
}
#login {
    margin-top: 10px;
}
#formHalf {
    margin-inline-start: 0px;
    display: flex;
    justify-content: center;
}
#otherHalf {
    margin-inline-end: 0px;
    display: flex;
    justify-content: center;
}
 
#actualFormStuff {
    margin-top: 10vh;
    background-color: rgb(160, 160, 160);
    padding: 15px;
    border-radius: 7.5px;
    height: fit-content;
    min-width: 325px;
    max-width: 510px;
}
#appleExperience {
    font-size: 40px;
    font-weight: bold;
    color: rgb(31, 58, 58);
    padding: 15px 25px 0px 25px;
}
.dataForm {
    padding: 15px 25px 15px 25px;
    max-width: 500px;
}
.dataForm .btn{
    color:white;
    background-color: darkslategrey;
    margin-bottom: 0px;
}
.dataForm a {
    color: darkslategray;
    margin: 0px 0px 10px 0px;
    font-size: 16px;
}

#quoteStuff { /* Quotes/Zitate/Sprüche HIER */
    
    max-width: 510px;
    background-color: rgb(160, 160, 160);
    border-radius: 7.5px;
    height: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 15px;
}
.asides {
    display: flex;
    justify-content: center;
    width: initial;
}
.asides p {
    padding: 10px;
    font-size: 18px;
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkslategray;
    text-align: center;
}
.asides img {
    min-height: 35vh; 
    max-height: 40vh; 
    margin: 10px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/* DETAIL SEITE */
.imgLeft {
    padding-inline-end: 10px;
    margin-top: 20px;
}
.imgLeft img {
    float: right;
    border-radius: 5px;
    margin-bottom: 20px;
}

div .textRight {
   border-left: solid;
   border-left-color: gray;
}
.textRight {                                   
    padding-inline-start: 40px;
    padding-top: 15px;
    padding-bottom: 45px;
    max-width: 610px;
    min-width: 305px;
}
.textRight h2{
    font-size: 35px;
    margin-top: 5px; 
}
.textRight p {
    font-size: 18px;
    line-height: 130%;
}
.textRight #story {
    padding: 15px 0px 25px 0px;
}
.textRight #price {
    font-weight: bold;
    font-size: 22px;
    padding: 5px 0px 5px 0px;
}

.backButton {
    position: absolute;
    float: right;
    right: 25px;
    bottom: -45px;
    width: 100%;
}
.backButton #f1 {
    float: right;
    color: black;
}

#anzahlPreis {
    margin-top: 80px;
}

/* ABOUT PAGE */
#aboutPage {
    padding-top: 55px;
    background-color: lavender;
    padding-bottom:  0px;
}
#aboutPage section {
    margin: 35px;
    padding-bottom: 15px;
    text-align: center;
}
#aboutPage aside img {
    max-width: 500px;
}
#aboutPage aside {
    display: flex;
    justify-content: center;
}

/* Create und Update */

#createForm {
    margin-left: 20px;
    padding: 65px 20px 20px 20px;
}

#updateForm {
    margin-left: 20px;
    padding: 20px 20px 20px 20px; 
}

#listeForm {
    padding: 65px 0px 25px 0px;
}
#listeForm td {
    padding-inline: 10px;
    padding-block: 10px;
}

/* WARENKORB */
#section1 {
    text-align: center;
}
#warenkorb {
    display: flex;
    justify-content:space-evenly;
}
#warenkorb table {
    border-width: 4.5px; 
    border-style: solid;
    border-radius: 5px;
}
#warenkorb table td {
    vertical-align: middle;
}

#cartButtons {
    width: inherit;
    display: flex;
    justify-content: space-between;
    
}
#cartButtons input {
    margin-inline-end: 5px;
    width: 125px;
    padding: 10px 0px 10px 0px;
}
#cartButtons button {
    margin-inline-start: 5px;
    width: 125px;
    padding: 10px 0px 10px 0px;
}

#lastLine {
    background-color: blanchedalmond; 
    border-style: solid;
    border-width: 3px;
}

#anzahl input {
    min-width: 70px;
}
#cartHeadings th {
    min-width: 110px;
    background-color: rgb(184, 183, 183);
    padding-top: 12px;
    padding-bottom: 10px;
}


/* Purchase */
#Einkauf {
    margin-top: 10vh;
    background-color: rgb(182, 180, 180);
    border-radius: 7px;
    padding: 25px;
}
#Einkauf label {
    min-width: 85px;
}
#Einkauf .form-group {
    margin: 5px 0px 5px 0px;
}
#Einkauf h2 {
    margin-top: 35px;
}


.radioButton {
    margin-left: 15px;
}
.check {
    margin-left: 50px;
}

#productCheck {
    background-color: papayawhip;
    margin-top: 7vh;
    border-radius: 5px;
}

#disclaimer {
    background-color: plum;
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
}

/* letzte Seite */
#purchaseComplete {
    border-style: double;
    border-radius: 5px;
    border-color: dimgrey;
    height: fit-content;
    background-color: rgb(80, 207, 80);
    margin: 15vh 5vw 15px 5vw;
    padding: 10px 15px 15px 35px;
  
}
#lastPics #rechts{
    float:right;
}
#lastPics div {
    max-width: 450px;
    margin: 20px;
}
#lastPics img {
    max-width: 375px;
    border-radius: 5px;
}
#purchaseButtons {
    display: flex;
    justify-content: space-evenly;
    min-width: fit-content;
    padding: 25px 0px 25px 0px;
}

#wholeThing {
    margin-top: 15vh;
    margin-bottom: 5vh;
    width: 100%;
}