
/*

body {
    --padding-header: 14px 16px;
}


.header-top {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;
    background: linear-gradient(#333, #333);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.stick {
    position: fixed;
}

li {
    float: left;
}

li .header-inhalt:not(.active) {
    display: block;
    color: white;
    text-align: center;
    padding: var(--padding-header);
    text-decoration: none;
}

li .header-inhalt:hover {
    background: linear-gradient(#000, #333);
}

.active {
    display: block;
    color: #4287f5;
    text-align: center;
    padding: var(--padding-header);
    text-decoration: none;
    background: linear-gradient(#000, #333);
}

*/

/* Der Korb funktioniert in der neuen Leiste, also ist das redundant. D.

li .korbdesign:hover {
    background: linear-gradient(#5cb1f2, #0070c9);
}

.korbdesign {
    padding: 10px 10px;
    display: block;
    text-align: center;
    background: linear-gradient(#42a1ec, #0070c9);
}
*/

/* Was ist ein Drop-Zone? D. */

.drop-zone {
    max-width: 100px;
    height: 100px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    color: #cccccc;
    border: 4px dashed #009578;
    border-radius: 10px;
}

.drop-zone--over {
    border-style: solid;
}

.drop-zone--input {
    display: none;
}

.drop-zone--thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
}

.drop-zone--thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}

/*  NAVIGATIONSBAR */
.nav2 {
    text-decoration: none;
    padding: 15px;
    color: darkslategray;

}
a:hover {
    text-decoration: none;
}

.dropdown-menu {
    padding-top: 20px;
    padding-bottom: 20px;
    min-width: 200px;
}
#apfelFarbeDrop {
    padding: 15px;
}

/* Darias Layout Jumbotron */

.jumbotron {
    background-image:url("/public/promo5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 235px;
    width: 100%;
    margin-top: 30px;
}

.jText {
    text-align: left;
    position: absolute;
    padding: 0px 15px 0px 15px;
    color:white;
    background: padding-box, rgba(128, 128, 128, 0.315);
}

.jText h2 {
    font-size: 40px;
}
.jText p {
    font-size: 25px;
}

/* Here starts Darias experiment: MAIN SHOP CONTAINER */

.thumbnail {
    min-height: 500px;
    max-width: max-content;
    /* Die breite der einzelnen Apfel-Elemente */
   min-width: 250px;
   max-width: 550px;
    /* yo das mit der Höhe und dem Margin muss ich noch klären.*/
    border-style: hidden;
   
}

.thumbnail img {
    
    border-radius: 2.5%;
    padding-bottom: 10px;
}

.caption {
    /* Hier könnt ihr eine font einsetzen die euch gefällt. */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: grey;
    padding:50px;
    
}
.caption h4 {
    font-weight: bold;
    padding-inline: 10px;
}
.caption p {
    padding-inline: 10px;
}

#abovePrice {
    margin-top: 0px;
    padding-top: 0px;
}

.input-group {
    padding-inline: 10px;
}

.card-image-top {
    width: 100%; /* Das Bild füllt einfach den ganzen container aus */
}

/*Funkt Nicht. :( okay warum der Link beim Gast nicht die Farbe ändern will verstehe ich nicht. D. */
#logIN a {
    color: darkslategrey;
    outline-color: whitesmoke; 
}
#logIN a:hover {
    color:whitesmoke;
}

/* FOOTER ORT */

footer {
    background-color:dimgrey;
}
.footer-nav {
    padding-left: 15px;
    padding-top: 15px;
}

.footer-nav a {
    color: black;
    text-decoration: none;
}

