<!Doctype html>
<html lang="de">
  <head>
    <title>Produkt hinzufügen</title>
  </head>
  <body>
    <form action="/oncreate" method="POST">
        Name des Produktes: <br>
        <input type="text" name="produktname"><br>
        Preis des Produktes: <br>
        <input type="number" step="0.01" name="produktpreis"><br>
        <button type="submit">Produkt hinzufügen</button>
    </form>
  </body>
</html>