<!Doctype html>
<html lang="de">
  <head>
    <title>Registrieren</title>
  </head>
  <body>
      <h2>Bitte registireren Sie sich:</h2>
      <form action="/register_eingabe" method="POST"> 
        <p>
          Nutzername: <input type="text" name="nutzername" required minlength="4" maxlength="16">
          <br>
          Passwort: <input type="password" name="passwort" required minlength="8" maxlength="32">
          <br>
          Passwort wiederholen: <input type="password" name="passwort_repeat" required minlength="8" maxlength="32">
        </p>
        <input type="submit" value="Registrieren">
        <br>
        <a href=/home>Zurück</a>
      </form>
  </body>
</html>