<!Doctype html>
<html lang="de">
  <head>
    <title>Viel Spaß</title>
  </head>
  <body>
      <p>
          Willkommen, <%= nutzername %>!<br>
          Sie haben sich erfolgreich <%= aktion %>.<br>
          <a href=/home>Startseite</a>
      </p>
  </body>
</html>