<!Doctype html>
<html lang="de">
  <head>
    <title>Produkt</title>
  </head>
  <body>
    <form action="/onupdate/<%=id%>" method="POST">
        Name des Produktes: <br>
        <input type="text" name="produktname" value="<%=name%>"> <br>
        Preis des Produktes: <br>
        <input type="number" step="0.01" minstep="0.01" name="produktpreis" value="<%=preis%>"> <br>
        <button type="submit">Speichern</button>
    </form>
  </body>
</html>